<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/fonts.css" />
    <script src="~/lib/jquery/jquery.slim.min.js"></script>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>

</head>
<body>

    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand" href="#">تاکسی آنلاین-پنل مدیریت</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" asp-action="Index" asp-controller="Car">مدیریت ماشین</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="Index" asp-controller="Color">مدیریت رنگ</a>
                </li>

                <li>
                    <a class="nav-link" asp-action="Index" asp-controller="RateType">مدیریت امتیاز بندی</a>
                </li>

                <li>
                    <a class="nav-link" asp-action="Index" asp-controller="EmailSetting">مدیریت ایمیل ها</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        مدیریت تنظیمات
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" asp-action="TotalInformation" asp-controller="AppSetting">تنظیمات کلی</a>
                        <a class="dropdown-item" asp-action="AboutUs" asp-controller="AppSetting">درباره ما</a>
                        <a class="dropdown-item" asp-action="Terms" asp-controller="AppSetting">قوانین</a>
                        <a class="dropdown-item" asp-action="PriceSetting" asp-controller="AppSetting">تنطیمات قیمت</a>
                    </div>
                </li>
            </ul>

        </div>
    </nav>

    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
