@model Database.Domain.ViewModels.AppSetting.AboutUsViewModel
@{
    ViewBag.Title = "درباره ما";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post" asp-action="AboutUs">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <div>
            <label asp-for="AboutUS">درباره ما</label>
            <input asp-for="AboutUS" class="form-control" />
            <span asp-validation-for="AboutUS" class="text-danger"></span>
            <input asp-for="KeyString" type="hidden" />
        </div>
    </div>
    <button type="submit" class="btn btn-primary">ذخیره</button>
    <a asp-action="Index" asp-controller="Admin" class="btn btn-danger">
        بازگشت
    </a>
</form>

