@model Database.Domain.ViewModels.Role.NewRoleViewModel
@{
    ViewBag.Title = "ایجاد نقش";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form asp-action="Create" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <div>
            <label asp-for="Title">نام</label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Name">نام سیستمی</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

    </div>
    <button type="submit" class="btn btn-primary">ذخیره</button>
    <a asp-action="Index" class="btn btn-danger">بازگشت</a>
</form>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
