@model RegisterAccountViewModel
@{
    ViewBag.Title = "Account";
}

<h1>Welcome to MyOnlineTaxi</h1>
<form method="post" action="Register">
    <div>
        <label for="txtMobileNumber">Mobile Number</label>
        <input asp-for="Username" type="text" id="txtMobileNumber" placeholder="Mobile number" />
    </div>
</form>
