@model List<Database.Domain.ViewModels.Car.CarsViewModel>
@{
    ViewBag.Title = "مدیریت ماشین";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>لیست ماشین ها</h3>

<table class="table table-dark">
    <thead>
        <tr>
            <th>نام ماشین</th>
            <th>عملیات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                    <input asp-for="@item.Id" type="hidden">
                </td>
                <td>
                    <a asp-action="Edit" asp-route-Id="@item.Id" class="btn btn-primary">ویرایش</a>
                    <a asp-action="Delete" asp-route-Id="@item.Id" class="btn btn-danger">حذف</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="Create" asp-controller="car" class="btn btn-success">
    جدید
</a>


